form {
    min-width: 60vw;
}

fieldset {
    display: flex;
    flex-direction: column;
}

form-field {
    display: flex;
    flex-direction: column;
    margin: 1em;
    margin-bottom: 0em;
}

form-field:has(> input:required) label::after {
    content: " *";
    color: red;
}

  
output {
    margin-top: 1em;
}